.custom-modal .modal-dialog {
  max-width: 600px; /* Установите нужную ширину */
  margin: 1.75rem auto; /* Центрируем модальное окно */
}

.custom-modal .modal-content {
  padding: 30px; /* Увеличиваем отступы для контента */
}
