.wrap_block_4_title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 590;
}

.wrap_block_b {
  font-size: 16px;
  color: #97459a;
}

.wrap_block_p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.wrap_border {
  width: 150px;
  height: 7px;
  border-radius: 40px;
  background: #a393eb;
}

.wrap_block_4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  /* background: url(/public/fon1212.png); */
  background-size:contain;
  background-repeat: repeat-y;
  padding: 24px 0;
}

.sakura51 {
  position: absolute;
  top: 1521px;
  left: -341px;
  transform: rotate(70deg);
}

.wrap_block_4_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
  padding: 0 28px;
}

.wrap_block_wrap {
  width: 240px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  perspective: 1000px; /* Задает перспективу для 3D */
}

.wrap_block_img {
  background: #ffffff;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  transition: transform 0.5s ease; /* Плавный переход трансформаций */
  transform-style: preserve-3d; /* Для 3D эффектов */
}

.block_img {
  width: 250px !important;
}
.wrap_block_img .imgDD {
  max-height: 100%;
}

.wrap_block_img img {
  max-height: 100%;
  max-width: 100%;
}

.wrap_block_wrap:hover .wrap_block_img {
  transform: rotateY(15deg) rotateX(10deg) scale(1.1); /* Эффект поворота и масштабирования */
}

/* Адаптивная версия */
@media (max-width: 1068px) {
  .wrap_block_wrap:hover .wrap_block_img {
    transform: rotateY(10deg) rotateX(5deg) scale(1.05); /* Уменьшенный 3D эффект для мобильных устройств */
  }
  .wrap_block_4_wrap {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    /* flex-direction: column; */
    align-items: center;
  }

  .wrap_block_warning {
    font-size: 16px;
    padding: 30px;
  }

  .wrap_block_4_title {
    font-size: 24px;
    padding: 10px;
  }

  .wrap_block_wrap {
    flex-direction: column-reverse;
  }

  .sakura51 {
    display: none;
  }
}

.wrap_block_warning {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  text-transform: uppercase;
}

.wrap_block_warning_block {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .wrap_block_warning {
    font-size: 14px;
    padding: 20px;
  }
}
